@page "/addPortfolio"

<PageTitle>Add portfolio</PageTitle>


@if (Portfolio != null)
{
    <EditForm Model="Portfolio">
        <div>
            <label for="PortfolioName">Portfolio Name</label>
            <InputText id="portfolioName" @bind-Value="Portfolio.NameOfPortfolio" class="form-control"></InputText>
        </div>
        <div class="pb-3">
            <label for="Description">Description</label>
            <InputText id="description" @bind-Value="Portfolio.Description" class="form-control"></InputText>
        </div>
        <button type="submit" class="btn btn-primary" @onclick="Create">Save</button>
    </EditForm>
}
