@page "/addSecurity"

<PageTitle>Add security</PageTitle>

<h1>In this section, you can add your security you obtained, the quantity and the price of it</h1>

@if (Portfolios == null && Portfolios.Count == 0) 
{
    <span>You have to add first a portfolio</span>

}else 
{
    @if (Security != null)
    {
        <EditForm Model="@Security">
            <div class="row w-100">
                <div class="col-6">
                    SecurityName
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" @bind="Security.SecurityName" />
                </div>
            </div>
            <div class="row w-100">
                <div class="col-6">
                    Description
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" @bind="Security.Description" />
                </div>
            </div>
            <div class="row w-100">
                <div class="col-6">
                    Price
                </div>
                <div class="col-6">
                    <input type="number" class="form-control" @bind="Security.Price" />
                </div>
            </div>
            <div class="row w-100">
                <div class="col-6">
                    StockesOwned
                </div>
                <div class="col-6">
                    <input type="number" class="form-control" @bind="Security.StockesOwned" />
                </div>
            </div>
            <div class="row w-100">
                <div class="col-6">
                    Portfolio
                </div>
                <div class="col-md-4">
                    <InputSelect class="form-control" @bind-Value="PortfolioId">
                        @foreach (var portfolio in Portfolios)
                        {
                            <option value="@portfolio.Id">@portfolio.NameOfPortfolio</option>
                        }
                    </InputSelect>
                </div>
            </div>
            <div class="row w-100">
                <div class="col-12">
                    <button class="btn btn-primary" @onclick="async () => await Create()">Save</button>
                </div>
            </div>
        </EditForm>
        
    }
}


