@page "/addSecurity"

<PageTitle>Add security</PageTitle>

<h1>In this section, you can add your security you obtained, the quantity and the price of it</h1>

@if (flag) 
{
    <span>You have to add first a portfolio</span>

}else 
{
    @if (Security != null)
    {
        <EditForm Model="Security">
            <div>
                <label for="SecurityName">Security Name</label>
                <InputText id="securityName" @bind-Value="Security.SecurityName" class="form-control"></InputText>
            </div>
            <div>
                <label for="Description">Description</label>
                <InputText id="description" @bind-Value="Security.Description" class="form-control"></InputText>
            </div>
            <div>
                <label for="Price">Price</label>
                <InputNumber id="Price" @bind-Value="Security.Price" class="form-control"></InputNumber>
            </div>
            <div>
                <label for="StokesOwned">Stokes Owned</label>
                <InputNumber id="stokesOwned" @bind-Value="Security.StockesOwned" class="form-control"></InputNumber>
            </div>
            <div>
                <label>Portfolio</label>
                <InputSelect id="portfolio" @bind-Value="Security.PortfolioId" class="form-select">
                    @foreach (var portfolio in Portfolios)
                    {
                        <option value="@portfolio.Id">@portfolio.NameOfPortfolio</option>
                    }
                </InputSelect>
            </div>
            <br />
            <button type="submit" class="btn btn-primary" @onclick="HandleSubmit">Save</button>
        </EditForm>
        
    }
}


