@page "/editportfolio/{Id:int}"

<h1>You can change the security you clicked</h1>

@if (portfolio == null) {
    <span>Loading Security.....</span>
}
else {
    @if (portfolio != null)
    {
        <EditForm Model="portfolio">
            <div>
                <label for="portfolioName">Portfolio Name</label>
                <InputText id="portfolioName" @bind-Value="portfolio.NameOfPortfolio" class="form-control"></InputText>
            </div>
            <div>
                <label for="description">Description</label>
                <InputText id="description" @bind-Value="portfolio.Description" class="form-control"></InputText>
            </div>
            <br />
            <div>
                <button type="submit" class="btn btn-primary" @onclick="HandleSubmit">Save</button>
            </div>
        </EditForm>
    }
}