@page "/"
@page "/search/{searchText}"


@inject ISecurityService SecurityService

<PageTitle>Fintech Services</PageTitle>

<h1>Fintech app</h1>

<p>Here is gonna be a log in form</p>


@code {
    [Parameter]
    public string? SearchText { get; set; } = null;

    protected override async Task OnParametersSetAsync()
    {
        if(SearchText != null)
        {
            await SecurityService.SearchSecurity(SearchText);
        }
    }
}