@page "/"

<PageTitle>Index</PageTitle>

<h1>Fintech app</h1>

<p>This Fintech app, provides to the user, the ease to track all of the securities, that have been acquired.</p>

<!-- must make a form tha it will have a button to save the security in the database, name of the sec, quantity, date acquired and the price it was acquired -->