@page "/login"

<PageTitle>Login</PageTitle>

<h3>Login</h3>

<EditForm Model="user">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="email">Email</label>
        <InputText id="email" @bind-Value="user.Email" class="form-control"></InputText>
    </div>
    <ValidationMessage For="@(() => user.Email)" />
    <div class="mb-3">
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="user.Password" class="form-control" type="password"></InputText>
    </div>
    <ValidationMessage For="@(() => user.Password)" />
    <a class="mb-5" href="/register">Forgot the password?</a>
    <br />
    <button type="submit" class="btn btn-primary" @onclick="HandleLogin">Login</button>
    <button type="button" class="btn btn-primary" @onclick="Navigate">Register</button>
</EditForm>

<div class="text-danger">
    <span>@errorMessage</span>
</div>