@page "/portfolio"
@using Fintech.Shared
@inject HttpClient Http

<PageTitle>All Portfolios</PageTitle>


<AuthorizeView>
    <Authorized>
        <PortfolioList />
    </Authorized>
    <NotAuthorized>
        <MudText Class="pa-4 ma-4" Typo="Typo.h3">Please first <a href="login">login</a> to view this page</MudText>
    </NotAuthorized>
</AuthorizeView>
