@page "/portfolio"
@using Fintech.Shared
@inject HttpClient Http

<PageTitle>Portfolio</PageTitle>

<h1>Portfolio</h1>

<p>Here someone can see the portfolio that it was obtained</p>

<SecurityList />
