@page "/portfoliodetails/{id:int}"

@if (portfolio != null)
{
    <div class="row w-100">
        <div class="col-6">
            Portfolio Name
        </div>
        <div class="col-6">
            <p>@portfolio.NameOfPortfolio</p>
        </div>
    </div>
    <div class="row w-100">
        <div class="col-6">
            StockesOwned
        </div>
        <div class="col-6">
            <p>@portfolio.Securities</p>
        </div>
    </div>
    <div class="row w-100">
        <div class="col-6">
            Date-Time Created
        </div>
        <div class="col-6">
            <p>@portfolio.DateTimeCreated</p>
        </div>
    </div>
    <div class="row w-100">
        <div class="col-6">
            Description
        </div>
        <div class="col-6">
            <p>@portfolio.Description</p>
        </div>
    </div>
    @*<div class="row w-100">
        <div class="col-12">
            <a href="/editsecurity/@security.Id" class="btn btn-primary">Edit</a>
            <button type="button" class="btn btn-danger" @onclick="async () => OpenDeleteDialog(security)">Delete</button>
        </div>
    </div>*@
}

