.title {
    color: #706e6e;
    font-weight: 800;
    width: max-content;
    height: 50px;
    text-align: center;
    margin: auto;
}

.text {
    color: #706e6e;
    font-weight: 800;
    width: max-content;
    height: 50px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    height: auto;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 2px 5px;
}
