@page "/securities"
@using Fintech.Shared
@inject HttpClient Http

<PageTitle>All Securities</PageTitle>

<MudText Typo="Typo.h1">All Securities</MudText>
<AuthorizeView>
    <Authorized>
        <SecurityList />
    </Authorized>
    <NotAuthorized>
        <MudText Class="pa-4 ma-4" Typo="Typo.h3">Please first <a href="login">login</a> to view this page</MudText>
    </NotAuthorized>
</AuthorizeView>